.form-container h2 {
    color: #ab4f00;
}

.form-group {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group textarea {
    width: 100%;
    min-height: 80px; /* optional, makes it taller */
    padding: 0.5rem;
    box-sizing: border-box;
}
