/* Footer Styles */
.footer {
    text-align: center;
    padding: 10px 20px; /* Reduced padding for a smaller footer */
    background-color: var(--footer-bg);
    color: var(--text-color);
    position: fixed; /* Ensures footer is positioned correctly */
    height: 10vh;
    /*margin-top: -100px;*/
    clear: both;
    bottom: 0;
    width: 100vw;
    /*height: 3rem;*/
}

.social-links a {
    margin: 0 10px; /* Reduced margin */
    color: var(--text-color);
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: darkorchid wavy;
}

/* Ensure footer content is black if theme is light */
:root {
    --footer-bg: #f1f1f1; /* Light mode background */
    --text-color: #000000; /* Light mode text color */
}

.dark-mode .footer {
    background-color: var(--footer-bg);
    color: var(--text-color);
}