.form-container {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #b6cdea;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.form-container input {
    width: 150%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container h2 {
    color: #0a6093;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}